* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.container {
  width: 80%;
  margin: auto;
}

.title {
  width: 100%;
  margin: 10px auto;
  padding: 10px;
}

#article {
  width: 100%;
  min-height: 100px;
  padding: 10px;
  margin: 10px 0;
}

#articles p {
    word-break: break-word;
}

.authorPublish {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.author {
  padding: 10px;
  width: 50%;
}

#publishBtn {
  padding: 10px;
  cursor: pointer;
}

#publishBtn:hover {
  background-color: #bebebe;
  border: 2px solid #bebebe;
  color: #fff;
}
#titleRequired,
#textareaRequired,
#authorRequired {
  width: fit-content;
  padding: 10px;
  border: 1px solid;
  border-radius: 10px;
  display: none;
  background-color: #c7190d;
  color: #fff;
}

.article {
  position: relative;
  padding: 10px;
  border: 1px solid;
  margin: 10px auto;
  word-break: break-all;
}

.article>p {
  color: #777
}

.addedArticle,
.addedAuthor {
  display: block;
  margin: 20px 0;
}

.task p:not(:nth-child(2)) {
  width: 70%;
  margin: 10px 0;
}

.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#update,
#delete {
  cursor: pointer;
  color: #fff;
  border: 1px solid;
  padding: 5px 10px;
  border-radius: 5px;
}

#update {
  background-color: orange;
}
#update:hover {
  background-color: #af7200;
}

#delete {
  background-color: red;
}

#delete:hover {
  background-color: #6b0000;
}

.date {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.date span {
  background-color: #0f0;
  color: #fff;
  padding: 3px;
  border-radius: 5px;
}

@media (max-width: 600px) {
  .addedBtn {
    display: grid;
  }
}
