* {
  box-sizing: border-box;
  padding: 0;
  margin: 10px auto;
}

.title {
  width: 70%;
  display: block;
  margin: 10px auto;
  padding: 10px;
}

.article {
  width: 70%;
  height: 100px;
  display: block;
  position: relative;
  padding: 10px;
}

.container {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px auto;
}

.author {
  padding: 10px 0;
}

.btn {
  padding: 10px;
}

.task {
  width: 70%;
  min-height: 50px;
  padding: 10px;
  border: 1px solid;
  margin: 5px auto;
  word-break: break-all;
  position: relative;
}

.task .content,
.task .addedAuthor {
  width: 70%;
  margin: 0;
}

.addedArticle,
.addedAuthor {
  display: block;
  margin: 20px 0;
}

.task span {
  position: absolute;
  right: 10px;
  bottom: 5px;
  padding: 3px;
  border-radius: 5px;
  background-color: #0f0;
}

span .addedAuthor {
  display: flex;
  justify-content: center;
  align-items: center;
}

span,
.edit,
.action {
  margin: 0;
  max-width: 60%;
}

.edit,
.delete {
  cursor: pointer;
  border: 1px solid;
  padding: 5px 10px;
  border-radius: 5px;
}

.action {
  position: absolute;
  right: 10px;
  top: 15px;
}

.edit {
  margin-right: 15px;
  background-color: orange;
}

.delete {
  background-color: red;
}
